Package: @NAME@-mp
Version: @VER@-1
Description: The Multiplatform Neutrino STB GUI
Section: extras/servers
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: @ADDRESS@
Source:
Depends: @DEP@
