Package: cs-libs
Version: @VER@-1
Description: Libs for Coolstream HD1 Hardware
Section: base/drivers
Priority: required
Maintainer: CoolStream International Ltd
Architecture: @ARCH@
Homepage: http://coolstreamtech.com/
Source:
Depends: cs-libs depmod
Provides: cs-libs
Conflicts: cs-beta-drivers
